{
  "token": "PASTE_YOUR_DROPBOX_APP_TOKEN_HERE",
  "strategy": "incremental OR sync",
  "srcDirectory": "/path/to/directory/you/want/to/backup",
  "destinationPath": "/path/in/app/folder/-/or/-/just/slash"
}
